@import url("https://fonts.googleapis.com/css2?family=Mohave:ital,wght@0,600;1,300&family=Montserrat:ital,wght@0,100;1,200;1,400;1,500&family=Open+Sans:wght@300;500&family=Outfit:wght@300;400;600&family=Roboto:ital,wght@0,300;0,500;1,300;1,500&family=Trochut:ital,wght@0,400;0,700;1,400&display=swap");
html {
  scroll-behavior: smooth;
}
body {
  
  width: 100%;
  box-sizing: content-box;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Outfit;
}
* {
 
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Outfit;
}


.longcafe {
  display: flex;
  font-size: 20px;
}
/* Encabezado */
.nav-bar {
  
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-content: space-around;
  justify-content: space-around;
  align-items: center;
  text-decoration: none;
  gap: 8px;
  background-color: #333;
  color: #fff;
}
nav .nvaba-desplegable {
display: flex;
justify-content: space-between;
align-items: center;
}
nav .nvaba-desplegable li {
   list-style: none;
  
  }
  nav .nvaba-desplegable a {
   display: flex;
   text-transform:initial;
 padding: 15px 20px;
   font-size: 16px;
   font-weight: bold;
    color: #fff;
    text-decoration: none;
    border-radius: 25px;   
   }
   nav .nvaba-desplegable a:hover{
    background-color: #3b3c3f;
   }

.user-container {
  padding: 12px;
  text-decoration: none;
  background-color: #515051;
  color: #fff;
  gap: 3px;
}
.cars-container {
  display: flex;
  flex-direction: row;
  gap: 8px;
}
.user-container a {
  text-decoration: none;
  color: #fff;
  padding: 25px;
}

.logo-container,
.contact-container,
.user-container {
  display: flex;
  align-items: center;
  gap: 8px;
}

.nvaba-desplegable ul {
  display: flex;
  justify-content: space-between;
  gap: 8px;
}

.nvaba-desplegable li {
  cursor: pointer;
  line-height: 16px;
  justify-content: space-between;
  display: inline-block;
}

/* Banner central */
.centro-banner {
  padding: 30px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: 20px;
  font-style: normal;

  .benefits-section {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: justify;
  }
}
.banner-content p {
  display: flex;
  font-size: 20px;
  line-height: 30px;
}

.banner-content h1 {
  font-size: 39px;

  font-family: Outfit;
}
.banner-content h3 {
  color: #567a6a;
  font-size: 20px;
  font-family: Outfit;
  left: 16px;
}

.banner-content {
  flex: 2;
  padding-right: 50px;
  gap: 20px;
}
.banner-content.banner-image {
  flex-basis: 50%;
  display: flex;
}

.banner-image img {
  max-width: 100%;
  display: block;
}

.banner {
  text-align: center;
  padding: 20px;
}

.div-banner img {
  max-width: 100%;
}

.buttons-container {
  padding-left: 10px;
  display: flex;
  gap: 10px;
}

button {
  padding: 10px;
  border: none;
  cursor: pointer;
  border-radius: 10px;
  background-color: #0f0e0e;
  color: #fff;
  transition: background-color 0.3s;
}
.btn-black {
  border-radius: 5px;
  background: #1f1815;
}
.btn-gren {
  border-radius: 4px;
  background: #2a5b45;
}

button:hover {
  background-color: #4c4d92;
}

.benefits-section {
  background-image: url("../assets/IMG/cafes/imagencafe.jpeg");
  background-size: cover;
  background-position: center;
  align-self: baseline;
  align-self: stretch;
  text-align: end;
  padding: 60px 5px 65px;
}
.benefits-section .fondcafe {
  display: flex;
  align-items: center;
  flex-direction: column-reverse;
}

.benefits-section:nth-child() {
  text-align: center;
}
.benefits-section h2 {
  font-size: 15px;
  color: #fff;
  font-family: Outfit;
  text-align: center;
  display: flex;
  justify-content: flex-end;
}

.benefits-section {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: justify;
  gap: 20px;
}
.benefits-section#default {
  text-align: start;
}

.parrafocaf {
  justify-content: center;
  padding: 20px;
}
.center {
  font-size: 40px;
  flex-direction: column;
  flex-wrap: wrap;
  align-content: flex-start;
}

.center h2 {
  font-size: 40px;
  align-content: flex-start;
}

.caja {
  display: flex;
  flex-direction: row;
  gap: 20px;
  flex-wrap: nowrap;
  justify-content: space-between;
  justify-content: space-evenly;
  align-items: flex-end;
}
.icono {
  gap: 20px;
  padding: 15px;
  display: flex;
  align-items: center;
  flex-direction: column;
}

.benefit {
  display: block;
  justify-content: space-around;
  border-radius: 8px;
  width: 370px;
  height: 390px;
  align-items: center;
  border: 1px solid #f7f5f3;
  background: #fff;
  box-shadow: 0px 1px 4px 0px rgba(227, 222, 215, 0.8);
}

.benefit img {
  display: inline-block;
  justify-content: center;
  align-items: center;
  width: 50px;
  height: 50px;
  margin-bottom: 15px;
}

.benefit h3 {
  display: flex;
  align-items: center;
  flex-direction: column;
}

.benefit p {
  display: flex;
  text-decoration: none;
  text-align: center;
  padding: 16px;
  display: flex;
  align-items: center;
  flex-direction: column;
}

.producto {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 20px;
  padding: 20px;
}

.caffe-1,
.caffe-2,
.caffe-3,
.caffe-4
 {
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 300px;
  padding: 24px;
  height: 400px;
 border : 1px solid #E3DED7;
  background-color: #F7F5F3;
  border-radius: 10px;
  gap: 20px;
}

.caffe-4:hover {
  background: #e4dfd8;
  .btn-añadir:hover {
    color: #114813;
  }
}
.caffe-4:focus {
  background: yellow;
  .btn-añadir:focus {
    color: #45a049;
  }
}

.btn-añadir {
  background-color: #034724;
  border-radius: 5px;

  align-items: flex-start;
  color: #fff;
  font-size: 15px;
  cursor: pointer;
}
.btn-añadir:hover {
  background-color: #45a049;
  border-radius: 5px;

  align-items: flex-start;
  color: #fff;
  font-size: 15px;
  cursor: pointer;
}

.novedad {
  margin: 20px;
  display: flex;
  justify-content: space-around;
  color: #2a5b45;
  text-align: center;
  padding: 40px;
  border-radius: 1px solid #1f1815;
}

.flecha {
  background: none;
  text-decoration: none;
  color: #000000;
  margin: 20px;
  display: flex;
  justify-content: center;
  font-family: Outfit;
  font-size: 20px;
}
.flecha img {
  width: 22px;
  height: 20px;
  gap: 10px;
  cursor: pointer;
  background: none;
}
.Next {
  text-decoration: none;
  color: #fff;
  font-family: Outfit;
}

.trabajo a{
 
  color: #000000;
  font-size: 20px;
}

.pregunta-frecuente {
  border-radius: 10px;
  background: #fff;
  background: var( #2a5b45);
  display: flex;
  font-size: 14px;
  align-self: stretch;
  font-family: Outfit;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 40px;
  border-radius: 1px solid #1f1815;
}

.faq-content {
  font-size: 20px;
  color: #141313;
  font-family: Outfit;
  text-align: center;
  display: flex;
  justify-content: flex-end;
  cursor: pointer;
}


.faq-item,
a {
  padding: 24px;
  font-family: Outfit;
}
.pregunta {
  color: #fff;
}
h3 {
  display: flex;
}

.faq-content {
  max-height: 0;
  overflow: hidden;
  transition: max-height 0.1s ease-in-out;
}

.faq-section {
  font-family: Outfit;
  width: 100%;
  background-color: #2a5b45;
  border-radius: 1px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  align-self: stretch;
}

.faq-item {
  background: #fff;
  max-width: 700px;
  display: flex;

  border: 1px solid #6c6965;

  flex-direction: column;
  margin: 10px;
  align-items: flex-start;
  gap: 20px;
  padding: 20px;
}

.faq-content {
  display: flex;
  flex-direction: column;
  border-radius: 20px;
  background: #fff;
}

.faq-item:hover .faq-content {
  max-height: 170px;
}

.hero-image {
  padding: 30px;
  display: flex;
  flex-direction: row-reverse;
  flex-wrap: wrap;
  align-items: self-start;
  font-family: Outfit;

  width: 100%;
}

.coffee-shop-section {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  align-content: stretch;
  align-items: center;
  gap: 20px;
}

.coffee-shop-content {
  flex-direction: row-reverse;
  flex-wrap: wrap;
  align-items: center;
  gap: 20px;

  font-family: Outfit;
}

 .coffee-shop-content
{
  font-size: 25px;
  padding: 40px;

  font-family: Outfit; 
}

a.next {
  font-size: 20px;
  color: #000;
  text-decoration: none;
  font-weight: bold;
  flex: 1;
  text-align: center;
}

/* border-color: #154387;
outline: none;
} */
.contact-form select:focus{
border-color: #0a2453;
outline:#87aedb;
}
.contact-form input:focus {
border-color: #000000;
}
.contact-form:hover {
border-color: #ff0000;
}
.contact-form .countryCode{
gap: 5;
padding: 0px;
}
.phone-input-wrapper {
border-radius: 0px ;
display:inline-block;
gap: 5px;
}


.poly a{
  color: #fff;
  text-decoration: none;
  list-style: none;
}

.btn-enviar {
  padding: 24px 12px;
  background-color: #2a5b45;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease;
  display: flex;
  padding: 12px 24px;
  width: 166px;

  align-items: flex-start;
  justify-content: space-around;
  gap: 8px;
}

.btn-enviar:hover {
  background-color: #a6edb9;
}

.footer-logo img {
  justify-content: center;
}
.footer-logo {
  display: flex;
  font-size: 31px;
  margin: 16px;
  width: 28px;
  align-items: center;
  gap: 10px;
}
.footer-container {
  
  align-items: baseline;
  background-color: #000000;
  display: flex;
  justify-content: space-between;
  justify-content: space-around;
  text-decoration: none;
  list-style: none;
  gap: 8px;
}
.footer-container a{
  color: #fff;
  text-decoration: none;
}

.contact-cafealtura{
  right: 15px;
  padding: 12px 24px;
  border-radius: 6px;
  background: #333233;
}
.columns-1 {
  color: #fff;
}

.help-section {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: justify;
  gap: 20px;
  padding: 20px;
  color: #fff;
  font-size: 15px;
  font-family: Outfit;
}

.footer-poli-links {
  flex-direction: column;
  text-decoration: none;
  list-style: none;  
  justify-content: space-between;
  align-items: center;
  align-items: center;
  text-align: justify;
}

.footer-container .accept-policy .columns-1 .columns-2{
  background-color: #ccc;
  color: #ffff;
  
}
.footer-poliica a {
  list-style: none;
  text-decoration: none;
 font-size: 50px;
}
#copyrigth{
  display: flex;
    justify-content: center;
  justify-content: center;
  align-items: flex-end;
  justify-items: left;
  background-color: #2B2A2B;
  color: #fff;
}

.contact{
  gap: 20px;
  background-color: #E3DED7;
  display: flex;
  justify-content: space-around;
  align-items: center
}
/* .contact-info .accept-policy input[type="checkbox"] {
  margin-top: 4px;
  margin-right: 10px;
  color: seagreen;
} */


/* Formulario */

.formulario {
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  width: 500px;
  margin: 0 auto;
  
  background-color: #ffffff;
  border: 1px solid #e5e5e5;
}

/* Etiquetas de entrada */

.form-control {
  width: 90%;  
  height: 90%;
  padding: 0px 12px 6px 12px;
  font-size: 16px;
  border: 1px solid #ccc;
  border-radius: 2px;
  box-shadow: 0px 1px 2px 0px rgba(0, 0, 0, 0.05);
  box-sizing: border-box;
}
.form-tarea {
  width: 90%;  
  height: 90%;
  background: #FFF;
  padding: 20px 12px;
  font-size: 16px;
  
  border-radius: 2px;
  box-sizing: border-box;
}

.phone-input-wrapper{
  display: flex;
  flex-direction: row;
  width: 470px;
  width: 90%;  
  height: 90%;
  border-radius: none;
  /* font-size: 16px; */
  border:5px solid #fff;
  border-radius:none;
  box-sizing: border-box;
}
#countryCode{
  border: 0px solid #ffff;
  font-size: small;
  border-radius: none;
  width: 15%;
  box-sizing: border-box;
}
/* Etiquetas de error */

.error {
  color: red;
  font-size: 12px;
  margin-left: 5px;
}

/* Botón de envío */

.btn-enviar {
  width: 30%;
  height: 40px;
  border: none;
  background-color: #2A5B45;
  color: #ffffff;
  font-size: 16px;
  cursor: pointer;
}

.btn-enviar:hover {
  background-color: #44635b;
}

/* Mensaje de confirmación */

.mensaje-confirmacion {
  display: flex;
  position: relative;
  top: 10px;
  right: 10px;
  padding: 10px;
  background-color: #008000;
  color: #ffffff;
  font-size: 16px;
  border-radius: 4px;
}

.formulario:hover .mensaje-confirmacion {
  display: block;
}
.form-checkbox a{
  color: #131415;
  text-decoration: none;
  list-style: none;
  
}