@import url("https://fonts.googleapis.com/css2?family=Mohave:ital,wght@0,600;1,300&family=Montserrat:ital,wght@0,100;1,200;1,400;1,500&family=Open+Sans:wght@300;500&family=Outfit:wght@300;400;600&family=Roboto:ital,wght@0,300;0,500;1,300;1,500&family=Trochut:ital,wght@0,400;0,700;1,400&display=swap");
html {
  scroll-behavior: smooth;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Outfit;
}

.first {
  display: flex;
  font-size: 10px;
  justify-content: space-between;
  flex-direction: column;
}

.navba {
  position: static;
  background-color: #000;
  display: flex;
  justify-content: space-evenly;
  align-items: start;
  padding: 4px;
  gap: 1px;
}

.navba.carroCompra {
  display: flex;
  padding-top: 5px;
  padding: 10px;
  align-content: flex-end;
}

nav a {
  text-decoration: none;
  color: #fff;
  padding: 5px 10px;    /* Puedes agregar otros estilos según lo necesites */
}
nav a:hover {
  color: rgb(92, 138, 168);
  text-shadow:valid;
  font-size:inherit;
}



.navba li button {
  list-style-type: none;
  font-size: 20px;
  color: #fff;
  border-radius: 1px solid #1f1815;
  padding: 20px;
  justify-content: space-between;
  background: none;
  border-style: hidden;
  cursor: pointer;
}

.encabezado {
  display: flex;
  justify-content: space-between;
  padding: 48px 40px;
  gap: 20px;
  align-items: center;
}

.encabezado h3 {
  color: #147444;
  font-size: 20px;
}

.encabezado h1 {
  color: #010704;
  font-size: 56px;
}

.encabezado p {
  display: flex;
  font-size: 29px;
}

.button {
  justify-content: flex-end;
  gap: 20px;
  padding: 15px;
  background: #908181;
  color: #fff;
  flex-direction: column-reverse;
}

.btn-nav {
  justify-content: center;
}

.btn-nav .btn-1, .btn-nav .btn-2 {
  background-color: #3fb7d4;
  border-radius: 15px;
  color: white;
  font-size: 20px;
  padding: 8px;
  cursor: pointer;
}

.btn-nav .btn-1 {
  background: #1F1815;
  padding: 10px 23px;
  align-items: flex-start;
  border-radius: 4px;
}

.btn-nav .btn-2 {
  background-color: #2A5B45;
  border-radius: 4px;
  padding: 10px 23px;
  align-items: flex-start;
}

.imagencafefondo {
  background-image: url('../assets/IMG/cafes/imagencafe.jpeg');
  background-size: cover;  
  background-position: center;
  align-self:baseline;
  align-self: stretch;
  padding: 89px 45px 145px;
}
.botones-de-accion {
  display: flex;
  justify-content: coloumn;
  align-items:flex-start;
  padding: 5% 10px;
  justify-content:flex-start;
  flex-direction: column;
  
flex: 1 0 0;

}

.fondcafe{
  display: flex;
  align-items: center ;
  flex-direction: column-reverse
  
}
.fondcafe{
 color: #fff;
}

.imagen-centrar{
  font-family: Outfit;
  display: flex;
  flex-direction: column-reverse;
  align-items: center ;
  font-size: center;
  padding: 5% 10px;
  width: 300px;
  height: 300px; 
  border-radius: 10px;
  justify-content: space-around;
  background-color: #fff;
}
.iconos{
  font-family: Outfit;
  display: flex;
  flex-direction: column;
  align-items: center ;
  font-size: center;
  padding: 5% 10px;
  width: 300px;
  height: 300px; 
  border-radius: 10px;
  justify-content: space-around;
  background-color: #fff;
}

.iconos{
  display: flex;
  flex-direction: row;
flex-wrap: nowrap;
align-content: stretch;
justify-content: center;
align-items: baseline;
justify-content: space-evenly ;
}

.icono2{
  
  font-family: Outfit;
  display: flex;
  flex-direction: column;
  align-items: center ;
  font-size: center;
  padding: 5% 10px;
  width: 300px;
  height: 300px; 
  border-radius: 10px;
  justify-content: space-around;
  background-color: #fff;
}
.centro {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}
.producto {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

.caffe-1, .caffe-2, .caffe-3, .caffe-4 {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 200px;
  height: 300px;
  background-color: #F2F2F2;
  border-radius: 10px;
  margin: 10px;
}

.caffe-1 img, .caffe-2 img, .caffe-3 img, .caffe-4 img {
  width: 200px;
  height: 200px;
}

.caffe-1 p, .caffe-2 p, .caffe-3 p, .caffe-4 p {

 padding: 5px; 

}

.btn-añadir{
  background-color: #034724;
  border-radius: 5px;
 
  align-items: flex-start;
  color: #fff;
  font-size: 15px;
  cursor: pointer;
}

.novedad{
  text-align: center;
  padding: 40px;
  border-radius: 1px solid #1f1815;
}


.flecha{
  background-image: url('../assets/IMG/Arrow\ narrow\ right.jpg');
  background-size: cover;
  background-position: center;
  width: 40px;
  height: 45px; 
  display: flex; 
}